.footer {
    background: var(--background-common-color);
    padding: 60px 0;
    align-items: baseline;
    padding-top: 60px;
    padding-bottom: 60px;
}

.container-footer {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    @include desktop{
    display: flex;
    flex-wrap: nowrap; 
    }
}
.footer-soc-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--common-color);
}

.footer-list {
    color: inherit;
    display: block;
}

.footer-logo {
    display: block;
    color: var(--common-color);
    margin-bottom: 20px;
    text-align: center;

}

.footer-item-mail,
.footer-item-tel {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.72;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}



.footer-item {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.72;
    letter-spacing: 0.03em;
    color: var(--common-color);
    text-align: center;
}

.footer-item:not(:last-child){
    margin-bottom: 9px;
}


.contacts-address {
    font-style: normal;

}

.footer .container {
    display: flex;
}

.container-adress {
    width: 100%;
    @include tablet{
        margin-bottom: 60px;
    }
    @include desktop{
        max-width: 231px;
        margin-bottom: 0;
    }
    // margin-right: 70px;
}

.container-footer-second {
    // margin-top: 12px;
    text-align: center;
    margin-bottom: 60px;
    margin-top: 60px;
    @include tablet{
        margin-top: 0;
    }
    @include desktop{
        margin-bottom: 0;
    }
}

.container-footer-second .list {
    display: flex;
}

.footer-soc-title {
    margin-bottom: 20px;
}

.container-footer-second .list {
    gap: 10px;
}

.team-soc-link {
    background: rgba(255, 255, 255, 0.1);
    color: var(--common-color);
}

.footer .team-soc-icon {
    fill: var(--common-color);
}

.footer-tab{
    @media screen and(min-width:768px){
        display: inline-flex;
        align-items: baseline;
        gap: 165px;
    }
    @include desktop{
        gap: 60px;
    }
}

.footer-subscribe{
    display: flex;
}
.subscription-box {
    display: block;
    text-align: center;
    @include desktop{
        display: flex;
        align-items: baseline;
        text-align: left;
    }
}

// .footer-input-box {
//     // display: flex;
//     // flex-direction: column-reverse;
//     // margin-bottom: 20px;
//     // margin-right: auto;margin-left: auto;
// }

.footer-label {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;


    color: var(--common-color);
}

.footer-input {
    width: 100%;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    // margin-right: 12px;
    padding: 15px 16px;

    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);

    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
}

.footer-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 30px;
    width: 200px;
    height: 50px;

    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

    color: var(--common-color);
    border: none;

    cursor: pointer;
    margin-right: auto;
    margin-left: auto;
    @include desktop {

    }
}

.icon-send {
    margin-left: 10px;
}