.occupation{
    display: none;
    @include desktop{
        display: flex;
        flex-basis: calc((100% / 3) - 60px);
    }
}
.occupation__img-thumb {
    position: relative;
    width: 370px;
}
.occupation__list {
display: none;
justify-content: center;
gap: 30px;
flex-basis: calc((100% / 3) - 60px);
@include desktop {
display: flex;
}
}
.occipation__img-text {
    position: absolute;
    bottom: 0;
    left: 0;

    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--common-color);

    width: 100%;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}