p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

button {
    cursor: pointer;
}

address {
    font-style: normal;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

body {
    background-color: var(--common-color);
    font-family: "Roboto", sans-serif;
    color: var(--top-color);
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}