:root {
    --top-color: #000000;
    --common-color: #ffffff;
    --title-common-color: #212121;
    --contact-color: #757575;
    --active-link-color: #2196f3;
    --background-common-color: #2f303a;
}